<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 10Mb -->
    <add key="mongo-queue.size" value="10485760" />
  </appSettings>

  <connectionStrings>
    <add name="mongo-queue" connectionString="mongodb://localhost/mongo-queue-test" />
  </connectionStrings>
</configuration>